<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RandoQuote | Login</title>
    <script src="https://kit.fontawesome.com/64d58efce2.js"></script>
    <link rel="stylesheet" href="css/login.css">
    <style>
    </style>
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">

                <form class="sign-in-form" id="loginForm">
                    <h2 class="title">Login</h2>
                    <div class="input-field">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input type="text" placeholder="Email" id="loginEmail" name="loginEmail"/>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" id="loginPassword" name="loginPassword"/>
                    </div>
                    <input type="submit" value="Login" class="btn solid">
                </form>


                
                <form class="sign-up-form" id="signupForm">
                    <h2 class="title">Sign Up</h2>
                    <div class="input-field">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input type="text" placeholder="Email" id="signupEmail" name="signupEmail"/>
                    </div>
                    <div class="input-field">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input type="text" placeholder="Name" id="signupName" name="signupName"/>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" id="signupPassword" name="signupPassword"/>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Confirm Password" id="signupPassword2" name="signupPassword2"/>
                    </div>
                    <input type="submit" value="Sign Up" class="btn solid">
                </form>

            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>New?</h3>
                    <p>Start your journey with us—because a single quote can change your day.</p>
                    <button class="btn transparent" id="sign-up-btn" style="width: 200px;"> Create an account</button>
                </div>

                <img src="/images/quotes.svg" class="image" alt="">
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>On of us?</h3>
                    <p>Dive back into a collection of words that spark change.</p>
                    <button class="btn transparent" id="sign-in-btn"> just Login</button>
                </div>

                <img src="/images/knowledge-book.svg" class="image" alt="">
            </div>
        </div>
    </div>

    

   <div class="toasts" id="toasts">
   </div>

</body>
<script type="text/javascript" src="js/login.js"></script>
</html>